/* VARIABLES */

$hmarg: 1%;
$rong-brand: #2ED0A2;
$max-width-lg: 60rem;
$max-col: 12;

/* MIXINS */

@mixin lg-up {
    @media (min-width: 960px) {@content;}
}

@mixin md-up {
    @media (min-width: 600px) {@content;}
}

@mixin full-width {
    width: (100%) - (2 * $hmarg);
}
