@mixin lg-up {
    @media (min-width: 960px) {@content;}
}

@mixin md-up {
    @media (min-width: 600px) {@content;}
}

@mixin full-width {
    width: (100%) - (2 * $hmarg);
}

/* BASIC */

* {
    margin:0;
    padding:0;
 }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

/* GRID SETUP */

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include md-up {
        width: 95%;
    }
    @include lg-up { 
        max-width: $max-width-lg;
        width: 75%;
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
    justify-content: flex-end;
}

.center {
    text-align: center;
    justify-content: center;
}

.row {
    position: relative;
    width: 100%;
    display: block;
    @include md-up {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}

.row [class^="col"] {
    float: left;
    margin: 0.5em $hmarg;
    box-sizing: border-box;
}

.col-1 {
    @include full-width();
    @include md-up {width: (1/$max-col * 100%) - (2 * $hmarg);}
}

.col-2 {
    @include full-width();
    @include md-up {width: (2/$max-col * 100%) - (2 * $hmarg);}
}

.col-3 {
    @include full-width();
    @include md-up {width: (3/$max-col * 100%) - (2 * $hmarg);}
}

.col-4 {
    @include full-width();
    @include md-up {width: (4/$max-col * 100%) - (2 * $hmarg);}
}

.col-5 {
    @include full-width();
    @include md-up {width: (5/$max-col * 100%) - (2 * $hmarg);}
}

.col-6 {
    @include full-width();
    @include md-up {width: (6/$max-col * 100%) - (2 * $hmarg);}
}

.col-7 {
    @include full-width();
    @include md-up {width: (7/$max-col * 100%) - (2 * $hmarg);}
}

.col-8 {
    @include full-width();
    @include md-up {width: (8/$max-col * 100%) - (2 * $hmarg);}
}

.col-9 {
    @include full-width();
    @include md-up {width: (9/$max-col * 100%) - (2 * $hmarg);}
}

.col-10 {
    @include full-width();
    @include md-up {width: (10/$max-col * 100%) - (2 * $hmarg);}
}

.col-11 {
    @include full-width();
    @include md-up {width: (11/$max-col * 100%) - (2 * $hmarg);}
}

.col-12 {
    width: (12/$max-col * 100%) - (2 * $hmarg);
}

.col-dyn-content {
    width: auto;
}

.col-dyn-fill {
    flex-grow: 2;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}
