/* TYPOGRAPHY */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900");
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

html, body {
    font-size: 16px;
    font-family: 'Roboto Slab', sans-serif;
}

h1 {
    font-size: 2.875em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.375em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

p {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}