/* Edit these variables to customize Rong for your use. Or just use the defaults, up to you. */

/* Layout */

$hmarg: 1%;
$max-width-lg: 70rem;

$max-col: 12; /* Increasing max columns will require manually adding additional col classes in grid.scss. See Documentation */


$body-radius: 0;
$btn-radius: 0;


/* Colors */
$brand-primary: #2ED0A2;
$brand-dark: #20775e;
$brand-light: #9df2db;
$secondary: #3B3963;

$black: #1B0D37;
$white: #ffffff;
$gray-light: #E2E5EB;
$gray: #808086;


$error: #FF6B6B;



/* Typography */

$basefont: 'Montserrat', sans-serif;
$pfont: 'Open Sans', sans-serif;
$dropdown-icon: " \25BE"; /* Replace with different Unicode to change icon */
