/* Variables */

$hmarg: 1%;
$max-width-lg: 70rem;
$max-col: 12;


/* Colors */
$brand-primary: #2ED0A2;
$brand-dark: #20775e;
$brand-light: #9df2db;
$secondary: #3B3963;

$black: #1B0D37;
$white: #ffffff;
$gray-light: #E2E5EB;
$gray: #808086;


$error: #FF6B6B;